#lateral {
	background: #ffffff;
	margin: 10px;
	padding: 20px;
	border: 1px solid #dddddd;
}

#lateral h4 {
	font-weight: normal;
	color: #1977aa;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 12px;
	margin: 0 0 12px 0;
}

#lateral .form-vertical {
	margin: 0;
}

#lateral .form-vertical .control-group {
	margin: 0;
}

#lateral .form-vertical .control-label {
	color: #1977aa;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}