#main-body {
	background: #E1E1E1;
	font-family: Oxygen, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#main-body a:focus {
	outline: 1px dotted #cccccc;
}