/** base **/
body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #E1E1E1;
}

/** base **/

/** header **/

#header {
	
}

#header-links {
	background: #D7DBE0;
	background:	-moz-linear-gradient(top, #D7DBE0 0%, #F0F2F3 100%); /* FF3.6+ */
	background:	-webkit-gradient(linear, left top, left bottom, color-stop(0%,#D7DBE0), color-stop(100%,#F0F2F3)); /* Chrome,Safari4+ */
	background:	-webkit-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* Chrome10+,Safari5.1+ */
	background:	-o-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* Opera 11.10+ */
	background:	-ms-linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* IE10+ */
	background:	linear-gradient(top, #D7DBE0 0%,#F0F2F3 100%); /* W3C */
	filter:		progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7DBE0', endColorstr='#F0F2F3',GradientType=0 ); /* IE6-8 */
	height: 40px;
}

#header-links .span3 {
	position: relative;
}

#header-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 100px;
}

#header-logo img {
	width: 100%;
	height: 100%;
}

#header-links-left {
	list-style: none;
	margin: 0;
	padding: 0;
	float:left;
	font-size: 14px;
	color: #CCCCCC;
	font-weight: normal;
}

#header-links-left li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline-block;
	list-style: none;
}

#header-links-left .separador{
	display: block;
	padding: 10px 0;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

#header-links-left li a{
	display: block;
	padding: 10px 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

#header-links-left li a:hover {
	text-decoration: underline;
}

.header-link-a, .header-link-a:hover {
	color: #0066FB;
}

.header-link-b, .header-link-b:hover {
	color: #FF6600;
}

.header-link-c, .header-link-c:hover {
	color: #5A9900;
}


#header-links-right {
	float: right;
	font-size: 12px;
	padding: 5px;
}

#header-login {
	background: rgb(13,156,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(13,156,234,1) 0%, rgba(6,97,144,1) 92%, rgba(25,119,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(13,156,234,1)), color-stop(92%,rgba(6,97,144,1)), color-stop(100%,rgba(25,119,170,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(13,156,234,1) 0%,rgba(6,97,144,1) 92%,rgba(25,119,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(13,156,234,1) 0%,rgba(6,97,144,1) 92%,rgba(25,119,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(13,156,234,1) 0%,rgba(6,97,144,1) 92%,rgba(25,119,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(13,156,234,1) 0%,rgba(6,97,144,1) 92%,rgba(25,119,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d9cea', endColorstr='#1977aa',GradientType=0 ); /* IE6-9 */
	height: 40px;
}

#header-login .container {
	height: 40px;
}

#header-login-form {
	padding: 0;
	margin: 0;
	height: 40px;
}

#header-login-form input {
	border: 1px solid #CCCCCC;
	color: #999999;
	height: 20px;
	padding: 5px 3px;
	margin: 4px;
	float: left;
}

#header-login-form button {
	margin: 4px 5px;
	height: 32px;
	float: left;
}

#header-login-form span {
	display: block;
	float: left;
	line-height: 40px;
}

#header-login-form span a {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
}

/** header **/

#conteudo {
	background-color: #F5F5F5;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 1px 0 1px;
	padding:20px;
}

.btn-cv {
	background-color: hsl(202, 90%, 34%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b8bd5", endColorstr="#086ba4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#0b8bd5), to(#086ba4));
	background-image: -moz-linear-gradient(top, #0b8bd5, #086ba4);
	background-image: -ms-linear-gradient(top, #0b8bd5, #086ba4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b8bd5), color-stop(100%, #086ba4));
	background-image: -webkit-linear-gradient(top, #0b8bd5, #086ba4);
	background-image: -o-linear-gradient(top, #0b8bd5, #086ba4);
	background-image: linear-gradient(#0b8bd5, #086ba4);
	border-color: #086ba4 #086ba4 hsl(202, 90%, 31.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-webkit-font-smoothing: antialiased;
}

.has-placeholder.empty {
	color: #999;
}



/** box-cadastro **/

#box-cadastro {
	border: 1px solid #E9E9E9;
	padding: 20px;
	
	background-color: #FFFFFF;
	color: #0A6190;
}

#box-cadastro .mensagem {
	margin: 0 0 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #E1E1E1;
	
	font-size: 16px;
	color: #0A6190;
}

#box-cadastro label {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}

#box-cadastro input {
	width: 201px;
	margin: 0;
}

/** box-cadastro **/

/** box-busca **/

#box-busca {
	float: left;
	margin-left: 20px;
	width: 643px;
}

#box-busca .nav {
	margin-bottom: 0;
}

#box-busca .tab-content {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

#box-busca form {
	margin: 10px;
}

/** box-busca **/

.CaixaCadastro .input{
	border:1px solid #e1e1e1;padding:6px;color:#666666;width:201px
}

.CaixaCadastro .BtCadastrar{
	background:				-moz-linear-gradient(top, #f5f5f5 0%, #E1E1E1 100%); /* FF3.6+ */
	background:				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#E1E1E1)); /* Chrome,Safari4+ */
	background:				-webkit-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Chrome10+,Safari5.1+ */
	background:				-o-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Opera 11.10+ */
	background:				-ms-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* IE10+ */
	background:				linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* W3C */
	filter:					progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-8 */
	
	border:1px solid #E1E1E1;font-size:13px;color:#999999;text-shadow:1px 1px 1px #ffffff;padding:10px 25px;float:right;margin-top:15px
}

/** box-cadastro **/

/* BUSCADOR */

.Buscador li a{
	font-weight:normal
}

.Buscador .Campos{
	float:left;font-size:13px;font-weight:bold;font-family:arial;padding:5px 5px
}

.Buscador .input{
	width:180px;padding:5px;
}

.Buscador .select{
	width:192px;padding:5px;
}

.Buscador #Botao{
	font-size:12px;padding-top:20px
}

.Buscador .BtBusca{
	padding:3px 10px
}

/* BUSCADOR */

.BannerHome{
	background-image:url(../img/banner.jpg);background-repeat:no-repeat;width:643px;height:90px;float:left;margin:20px 0 0 20px
}

/* DESTAQUE HOME */

.DestaquesHome{
	margin-top:20px
}

.DestaquesHome li a{
	font-size:16px;font-weight:normal;font-family:arial;
}

.DestaquesHome li.ui-state-default ui-corner-top{
	color:#666666
}

.DestaqueHomeItem{
	margin: 0 7.5px;
}

.DestaqueHomeItem .imagem{
	background-image:url(../img/carro.jpg);background-repeat:no-repeat;width:163px;height:109px;
}

.DestaqueHomeItem .LinkFotoDestaque{
	display:block;width:163px;height:109px;
}

.DestaqueHomeItem .DadosDestaque{
	background-color:#FFFFFF;border:1px solid #E9E9E9;width:143px;height:75px;color:#0A6190;font-size:12px;padding:10px;line-height:18px
}

.DestaqueHomeItem .ValorDestaque{
	font-weight:bold;color:#FF0000;
}

/* DESTAQUE HOME */

/* CONTEUDO */

section{
	width:920px;margin:auto;background-color:#F5F5F5;border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD;padding:20px;
}

.CaixaCadastro{
	border:1px solid #E9E9E9;background-color:#FFFFFF;padding:20px;width:215px;line-height:22px;font-size:12px;font-weight:bold;color:#0A6190;float:left
}

.CaixaCadastro h1{
	font-size:16px;color:#0A6190;border-bottom:1px solid #E1E1E1;margin:0 0 10px 0;padding:0 0 5px 0;font-weight:normal
}

.CaixaCadastro .input{
	border:1px solid #e1e1e1;padding:6px;color:#666666;width:201px
}

.CaixaCadastro .BtCadastrar{
	background:				-moz-linear-gradient(top, #f5f5f5 0%, #E1E1E1 100%); /* FF3.6+ */
	background:				-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#E1E1E1)); /* Chrome,Safari4+ */
	background:				-webkit-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Chrome10+,Safari5.1+ */
	background:				-o-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* Opera 11.10+ */
	background:				-ms-linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* IE10+ */
	background:				linear-gradient(top, #f5f5f5 0%,#E1E1E1 100%); /* W3C */
	filter:					progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#E1E1E1',GradientType=0 ); /* IE6-8 */
	
	border:1px solid #E1E1E1;font-size:13px;color:#999999;text-shadow:1px 1px 1px #ffffff;padding:10px 25px;float:right;margin-top:15px
}

/* CONTEUDO */

/* footer */

footer {
	background-image:url(../img/rodape-background.png);
	margin: 0 0 20px 0;
}

#footer-menu {
	list-style: none;
	margin: 30px 0;
	padding: 0 30px;
	width: 250px;
	float: left;
	border-right: 1px solid #333333;
}

#footer-menu li {
	list-style: none;
	margin: 0;
	padding: 6px 0;
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 #333333;
}

.no-boxshadow #footer-menu li {
	border-bottom: 1px solid #333333;
}

#footer-menu li a {
	color: #666666;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

#footer-noticias {
	padding: 30px;
	color: #FFFFFF;
	position: relative;
	overflow: hidden;
}

#footer-noticias h4 {
	font-weight: normal;
}

#footer-noticias ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer-noticias li {
	list-style: none;
	margin: 0;
	padding: 6px 0;
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 #333333;
}

.no-boxshadow #footer-noticias li {
	border-bottom: 1px solid #333333;
}

#footer-noticias li a {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

#footer-noticias .imagem {
	background: white;
	width: 32px;
	height: 32px;
	float: left;
}

#footer-noticias .titulo {
	position: relative;
	overflow: hidden;
	padding-left: 10px;
}

#footer-copyright {
	background-color: #111111;
	font-size: 10px;
	color: #666666;
	padding: 12px;
	margin: 0 -12px;
	position: relative;
}

#footer-copyright .left,
#footer-copyright .right {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
}

#footer-copyright .left {
	border-color: transparent #000000 #000000 transparent;
	top: -12px;
	left: 0;
}

#footer-copyright .right {
	border-color: transparent transparent #000000 #000000;
	top: -12px;
	right: 0;
}

/* footer */