<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Bem-vindo ao Central do Veículo!</title>
</head>
<body>
	<table border="0" cellpadding="0" cellspacing="0" width="600" align="left">
		<tr>
			<td align="left">
				<font style="font-size:18px;font-family:arial;color:#000000;font-weight:bold;">Complete seu cadastro</font><br>
				<p style="font-family:arial;font-size:16px;text-align:justify;color:#000000;line-height:180%">
	            	Bem-vindo {{ nome }}, ao maior portal de anúncios veiculares da Internet. Não espere para publicar seu anúncio o mais rápido possivel, basta clicar no link abaixo para completar o seu cadastro e já realizar o cadastro de seu anúncio.
	                <br>
	                <br>
	                <a href="{{ url('/cadastro/completar?chave=' ~ chave, true) }}">Complete seu cadastro clicando aqui.</a>
	                <br><br><br><br>
	                Não responda para este e-mail.
	                <br>
	                Caso não tenha realizado cadastro em nosso portal <a href="{{ url('/', true) }}">centraldoveiculo.com.br</a>, desconsidere este e-mail.<br><br>
				</p>
				<br>
			</td>
		</tr>
	</table>
</body>
</html>